* {
  padding: 0%;
  margin: 0%;
  
}
// .navbar{
//   // width: fit-content;
// }
.homeMain_cont {
  width: auto;
  // height: 200vh;
  background-color: black;
  display: flex;
  // overflow: hidden;
  padding-bottom: 30px;
  .homeMain_img {
    width: 40%;
    // background-color: rgb(176, 127, 255);
    display: flex;
    justify-content: end;
    align-items: center;

    .home_logo {
      width: 400px;
      height: 300px;
      margin-right: 3em;
    }
  }
  .homeMain_txt {
    width: 60%;
    margin-top: 2em;
    // text-align: start;
    // background-color: aquamarine;
    a {
      color: white;
      text-decoration: none;
    }
    h1 {
      font-size: 3.6em;
      font-weight: 900;
      margin-top: 0.3em;
      color: #00aae7;
      text-align: start;
    }
    p {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-style: normal;
      width: 65%;
      font-size: 1.2em;
      margin-top: 1.2em;
      color: white;
      text-align: start;
      margin-left: -14px;
    }
    .btn_container {
      width: 70%;
      margin-top: 0.8em;

      .btn_child {
        width: 30%;
        height: 3em;
        margin-top: 1em;
        font-size: 1em;
        font-weight: 600;
        margin: 0.5em;
        background-color: #334862;
        color: white;
        border: 1px solid #334862;
        cursor: pointer;

        h2 {
          margin: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 812px) {
  .homeMain_cont {
    .homeMain_img {
      width: 40%;
      display: flex;
      justify-content: end;
      align-items: center;
      .home_logo {
        width: 200px;
        height: 120px;
        margin-right: 1em;
      }
    }
    .homeMain_txt {
      margin-top: 60px;
      h1 {
        font-size: 2.5em;
      }
      p {
        font-size: medium;
        width: 95%;
        font-weight: 1;
      }
      .btn_container {
        width: 100%;
        .btn_child {
          width: 110px;
          height: 40px;
          font-size: small;
          font-family: "Hind Siliguri", sans-serif;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .homeMain_cont {
    height: auto;
    display: block;
    padding: 20px;
    .homeMain_img {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
    }
    .homeMain_txt {
      width: 100%;
      margin-top: 1em;
      text-align: center;
      h1 {
        text-align: center;
      }
      p {
        text-align:center;
        // padding-left: 10px;
        // padding-right: 10px;
        font-size: larger;
      }
      .btn_container {
        .btn_child {
          width: 150px;
          height: 40px;
          font-size: large;
          font-family: "Hind Siliguri", sans-serif;
        }
      }
    }
  }
}
