.show_icons {
  width: 100%;
  // height: 20vh;

  // margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  margin-left: 10px;
  margin-right: 10px;
//  bottom: 0;

  span {
    margin: auto;
    a {
      color: #5878bc;
      text-decoration: none;
    }
  }
}
